h1 {
    font-size: 1.7em;
    color: white;
}

span {
    font-size: 1.3em;
    color: white;

}

.text1 {
    padding-top: 110px;
    padding-bottom: 5px;
    background-color: #c2c2c2;
}

.text2 {
    padding-bottom: 110px;
    padding-top: 5px;
    background-color: #c2c2c2;
}



